@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@700');

.App {
  text-align: center;
  font-family: 'Bellefair', cursive;
}

p {
  margin: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-collapse: separate;
}

.rightTable {
  text-align: right;
}

.leftTable {
  text-align: left;
}

.Header {
  font-size: xx-large;
  margin: 12px;
}

.NavButton,
.LinkButton {
  font-family: 'Bellefair';
  font-size: large;
  background-color: #fdd28e;
  border-radius: 12px;
  min-height: 40px;
  border-color: black;
  color: black;
}

.NavButton {
  min-width: 150px;
  max-width: 150px;
  margin: 5px;
}

.LinkButton {
  min-width: 100px;
  max-width: 100px;
}

.BodyItem {
  border-style: solid;
  text-align: center;
  font-size: large;
  border-radius: 20px;
  justify-content: center;
  max-width: 400px;
  padding: 60px 30px 70px 30px;
  margin: 40px auto;
  background-color: #ffffee;
}

.subtitle {
  font-family: 'Bellefair';
  font-size: larger;
  margin: 12px;
}

.bigsubtitle {
  font-family: 'Bellefair';
  font-size: xx-large;
  margin: 12px;
}

.footnote {
  font-size: small;
  margin: 6px;
}

.Divider {
  color: gray;
  font-size: x-small;
  font-family: 'Noto Emoji', sans-serif;
  margin: 12px;
}

.SymbolDancing,
.SymbolFood,
.SymbolHeart,
.SymbolMusic,
.SymbolRing,
.SymbolSpeech {
  display: inline-block;
  font-family: 'Noto Emoji', sans-serif;
  font-size: x-large;
  margin: 12px 0px 0px 0px
}

.SymbolRing {
  color: #ff7900;
  -webkit-text-stroke: 0.2px #ff7900;
}

.SymbolSpeech {
  color: #ffc500;
  -webkit-text-stroke: 0.3px #ffc500;
}

.SymbolFood {
  color: #25af00;
  -webkit-text-stroke: 0px #25af00;
}

.SymbolMusic {
  color: #0091ff;
  -webkit-text-stroke: 0px #0091ff;
}

.SymbolDancing {
  color: #823fd9;
  -webkit-text-stroke: 0.3px #823fd9;
}

.SymbolHeart {
  color: #f13423;
  -webkit-text-stroke: 1.4px #f13423;
}

.NavButton:hover,
.LinkButton:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 100px;
  animation-iteration-count: infinite;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}